* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header .top .right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header .bottom .left {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.sidebar {
    grid-row: 1 / span 2;
    display: grid;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 15px;
    gap: 15px;
    background-color: lightgrey;
}

.content .main {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    flex: 1;
}

.card {
    background-color: white;
    border-radius: 10px;
}

.content .top-right {
    display: grid;
    grid-template-rows: 1fr 10fr;
    font-size: 14px;
}
.content .top-right .title {
    font-weight: bold;
}
.top-right .groups {
    background-color: white;
    display: grid;
}

.content .bottom-right {
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.bottom-right .users {
    background-color: white;
    display: grid;
}

.bottom-right .users .user {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}




li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}



/* temporary styling for visualization */

.sidebar {
    background-color: lightblue;
}

.header {
    background-color: lightpink;
}

.content > * {
    border: 1px solid red;
}

.card {
    border: 1px solid orange;
}