* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header .left {
    display: grid;
}

.header .right {
    display: grid;
}



.sidebar {
    grid-row: 1 / span 2;
    display: grid;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 15px;
    gap: 15px;
    background-color: lightgrey;
}

.content .main {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    flex: 1;
}

.content .card {
    background-color: white;
    border-radius: 10px;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}




/* temporary styling for visualization */

.sidebar {
    background-color: lightblue;
}

.header {
    background-color: lightpink;
}

.content > * {
    border: 1px solid red;
}

.card {
    border: 1px solid orange;
}